
body {
  background-color: lightblue;
}

#header {
  font-family: times;
  text-align: center;
  font-size: 30px;
  color: #000;
}

#main-navbar {
  margin: 0;
  padding: 0;
}

#main-navbar ul li {
  list-style-type: none;
  text-align: center;
  display: inline;
}