
body {
  background-color: slateblue;
}

.header p {
  font-family: times;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  background-color: navy;
  padding: 20px;
  color: white;
  width: 25%;
}

#main-navbar {
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  overflow: hidden;
}

#main-navbar ul li {
  list-style-type: none;
  color: navy;
  display: inline;
}
  
#image img {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 200px;
}

#veigar-info {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20%;
}

iframe {
  width: 350px;
  height: 200px;
}

#ability1 {
  padding: 10px;
  float: left;
  width: 23%;
}

#ability2 {
  padding: 10px;
  float: left;
  width: 23%;
}

#ability3 {
  padding: 10px;
  float: left;
  width: 23%;
}

#ability4 {
  padding: 10px;
  float:left;
  width: 23%;
}