
body {
  background-color: rgb(60,0,100);
}

.header p {
  font-family: times;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  background-color: rgb(210,145,255);
  padding: 20px;
  color: black;
  width: 25%;
}

#main-navbar {
  background-color: purple;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  overflow: hidden;
}

#main-navbar ul li {
  list-style-type: none;
  color: black;
  display: inline;
}
  
#image img {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 200px;
}

#veigar-info {
  padding: 10px;
  border: 10px;
  background-color: rgb(210,145,255);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20%;
}

iframe {
  width: 350px;
  height: 200px;
}

#ability1 {
  border: 10px;
  padding: 50px;
  background-color: rgb(210,145,255);
  float: left;
  width: 350px;
  margin-left: 50px;
  margin-right: 50px;
}

#ability2 {
  border: 10px;
  padding: 50px;
  background-color: rgb(210,145,255);
  float: right;
  width: 350px;
  margin-left: 50px;
  margin-right: 50px;
}

#ability3 {
  border: 10px;
  padding: 50px;
  background-color: rgb(210,145,255);
  float: left;
  width: 350px;
  margin-left: 50px;
  margin-right: 50px;
}

#ability4 {
  border: 10px;
  padding: 50px;
  background-color: rgb(210,145,255);
  float:right;
  width: 350px;
  margin-left: 50px;
  margin-right: 50px;
}