
body {
  background-color: lightblue;
}

.header p {
  font-family: times;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  background-color: navy;
  padding: 20px;
  color: white;
  width: 25%;
}

#main-navbar {
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  overflow: hidden;
}

#main-navbar ul li {
  list-style-type: none;
  color: navy;
  display: inline;
}

#basic {
  display: block;
}

#basic p {
  width: 300px;
}

#basic img {
  width: 350px;
  height: 350px:
}

#basic h2, p {
  width: 300px;
}

#pikapp {
  display: block;
}

#pikapp p {
  width: 300px;
}

#pikapp img {
  width: 600px;
  height: 350px;
}

#creed {
  display: block;
}

#creed p {
  width: 300px;
}

#len {
  display: block;
}

#len p {
  width: 300px;
}

#len img {
  width: 350px;
  height: 230px;
}