
body {
  background-color: lightblue;
}

.header1 p {
  font-family: times;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  background-color: navy;
  padding: 20px;
  color: white;
  width: 25%;
}

.header2 p {
  font-family: times;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  background-color: rgb(210,145,255);
  padding: 20px;
  color: black;
  width: 25%;
}

#main-navbar {
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  overflow: hidden;
}

#main-navbar1 {
  background-color: rgb(210,145,255);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  overflow: hidden;
}

#main-navbar ul li {
  list-style-type: none;
  color: navy;
  display: inline;
}

#image-vei img {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 200px;
}

#side-info {
  padding-right: 200px;
  padding-left: 125px;
  float: left;
  display: block;
  width: 20%;
}

#main-info {
  padding: 10px;
  float: left;
  text-align: center;
  width: 25%;
}

h2 {
  font-size: 40px;
  font-family: "garamond";
}

