/* Basic Info*/

.header1 p {
  font-family: times;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  background-color: navy;
  padding: 20px;
  width: 25%;
  color: white;

}

.header2 p {
  font-family: times;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  background-color: rgb(210,145,255);
  padding: 20px;
  width: 25%;
  color: black;
}
#main-navbar1 {
  background-color: lightblue;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  overflow: hidden;
}

#main-navbar2 {
  background-color: rgb(210,145,255);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  overflow: hidden;
}

#main-navbar1 a {
  color: navy;
  margin: 5px;
  text-decoration: none;
}

#main-navbar1 ul li {
	text-decoration: none;
	display: inline;
}

#main-navbar2 a {
  color: white;
  margin: 5px;
  text-decoration: none;
}

#main-navbar2 ul li {
  display: inline;
  text-decoration: none;
}

/* Index */

.both{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#side-info {
  display: block;
}

#side-info ul li {
  list-style-type: none;
}

#skill {
  background-color: lightblue;
  text-align: center;
  width: 283px;
}

#main-info {
  text-align: center;
  width: 800px;
}

#main-info em {
  font-family: "lobster";
}

/* PiKapps */

#basic {
  display: block;
  float: left;
  margin-left: 100px;
  margin-right: 100px;
  width: 30%;
}

#basic p {
  width: 300px;
  text-align: center;
}

#basic img {
  width: 350px;
  height: 350px;
}

#basic h2 {
  width: 300px;
}

#pikapp {
  display: block;
  float: right;
  margin-left: 100px;
  margin-right: 100px;
  width: 30%;
}

#pikapp p {
  width: 300px;
  text-align: center;
}

#pikapp img {
  width: 600px;
  height: 350px;
}

#creed {
  display: block;
  float: left;
  margin-left: 100px;
  margin-right: 100px;
  width: 30%;
}

#creed p {
  width: 300px;
  text-align: center;
}

#len {
  display: block;
  float: right;
  margin-left: 100px;
  margin-right: 100px;
  width: 30%;
}

#len p {
  width: 300px;
  text-align: center;
}

#len img {
  width: 350px;
  height: 230px;
}

/* LOL */

#veigar img {
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 200px;
}

#veigar-info {
  padding: 10px;
  border: 10px;
  background-color: rgb(210,145,255);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20%;
}

#abi h2 {
  color: rgb(210,145,255);
  align-items: center;
}

#first {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#second {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

iframe {
  width: 350px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#ability1 {
  border: 10px;
  padding: 25px;
  background-color: rgb(210,145,255);
  width: 310px;
  height: 310px;
  margin: 10px;
  content: "";
  display: table;
}

#ability1 p {
  width: 320px;
}

#ability2 {
  border: 10px;
  padding: 25px;
  background-color: rgb(210,145,255);
  width: 310px;
  height: 310px;
  margin: 10px;
  content: "";
  display: table;
}

#ability2 p {
  width: 320px;;
}

#ability3 {
  border: 10px;
  padding: 25px;
  background-color: rgb(210,145,255);
  width: 310px;
  height: 310px;
  margin: 10px;
  content: "";
  display: table;
}

#ability3 p {
  width: 320px;
}

#ability4 {
  border: 10px;
  padding: 25px;
  background-color: rgb(210,145,255);
  width: 310px;
  height: 310px;
  margin: 10px;
  content: "";
  display: table;
}

#ability4 p {
  width: 320px;
}